html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  flex-direction: column;
}

.home-text {
  font-size: 10vw;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 50%;
  min-width: 250px;
  flex-wrap: wrap;
}

button.btn {
  background-color: #f8f9fa;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #ccc;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  color: #2f2f2f;
}

button.btn:hover {
  background-color: rgb(230, 230, 230);
  border-color: #2f2f2f;
  color: #2f2f2f;
}

button.btn:focus {
  outline: 1px solid #cccbca;
  outline-offset: 1px;
  background-color: #2f2f2f;
  color: #ffffff;
  border-color: #b0b0b0;
  box-shadow: 0 0 5px #ffffff;
}

.btn:active {
  background-color: #2f2f2f;
  border-color: #f0f0f0;
}
